{{#each kitchens as |kitchen|}}

   <div class="kitchn-card card-1" data-id="{{kitchen.id}}">
     <h3>{{kitchen.kitchen_name}}</h3>
     <br>
     <br>
     <p>{{kitchen.location}}
          <br>
        {{kitchen.phone_number}}
           <br>
        {{kitchen.email}}
           <br>
        {{kitchen.available_hours}}
           <br>
        {{kitchen.description}}
     </p>

   </div>


{{/each}}
